@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.mulish-100 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
.mulish-300 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
.mulish-400 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.mulish-500 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
.mulish-600 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
.mulish-700 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
.mulish-800{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight:800;
    font-style: normal;
  }
.mulish-900 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }


.dataShadow{
  /* text-shadow: 0px 0px 400px #000000; */
}

.leniar-Box-gradeant{
  background: linear-gradient(0deg, #41A2B1 10%, #3ad3eb 100%);
}

.button-shadow{
  box-shadow: inset 0px 0px 5px #5dd8eb;
  background-color: rgb(245, 255, 255);
}
.button-shadow-red{
  box-shadow: inset 0px 0px 5px #de7254;
  background-color: rgb(255, 228, 228);
}
  
  